.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0;
}

// TABS 
.tabs-container {
    .tabs {
        .tab-header {
            li {
                a {

                    &:hover {}
                }
            }
        }

        .tab-content {}

        &.tabs-style-one {}
    }
}

.tabs {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: .25rem;
    overflow: hidden;
}

.tabs .bar {
    width: 100%;
    display: flex;
}

.tabs [data-tabby-bar]:first-child {
    border-left: none;
}

.tabs [data-tabby-bar] {
    padding: 1.25rem;
    text-align: center;
    cursor: pointer;
    flex: 1;
    color: rgba(33, 33, 33, .2);
    border-bottom: .0625rem solid rgba(33, 33, 33, .2);
}

.tabs [data-tabby-bar]:hover {
    color: rgba(33, 33, 33, .3);
    border-bottom: .0625rem solid rgba(33, 33, 33, .3);
}

.tabs [data-tabby-bar][data-tabby-active] {
    color: rgba(33, 33, 33, 1);
    border-bottom: .0625rem solid rgba(33, 33, 33, 1);
}

.tabs [data-tabby-content] {
    padding: 1.25rem;
}