/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
--- COLOR PALETTE ---
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$mainColor :#095be2;
$secondColor: #eff5f4;
$thirdColor :#2e14fa;
$fourColor: #2eadff;
$textcolor: #404d63;
$textcolorAlpha: #7f8897;
$boxShadowColor: #e8eeff;
$bgcolor1: #eff5f4;
$bgcolor2: #eff5f4;
$bgcolor3: #eff5f4;
$bgcolor4: #fcfcfc;
$bgcolor5: #f4f6f7;
$color: #979b9a;
$colorWhite: #fff;
$colorBlack: #000;
$colorDark: #222222;
$section-bg-1:#f1f9ff;
$section-bg-2:#f1f9ff;
$mainFont: 'Source Sans Pro',
sans-serif;
;
$secondFont: 'Montserrat',
sans-serif;
$thirdFont: 'Great Vibes';


$textcolor-1 : #292B2F;