/*-----------------------------------------------------------------
[Main Stylesheet]

-------------------------------------------------------------------
01. Import
-------------------------------------------------------------------*/
/*------- google fonts -------*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700,800,900&display=swap");
@import "_variables";
@import "_mixin";
@import "_preset";
@import "_header";
@import "_tabs";
@import "_modal";

/*-------------------------------------------------------------------
02. General
-------------------------------------------------------------------*/

body {
    font-size: 15px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #606060;
    line-height: 24px;
}

#articles-list {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.article-item {
    padding: 0;
    margin: 0 auto;
    background: rgba(231, 76, 60, 0.25);
    border-radius: 5px;

    img {
        background-color: beige;
        height: 210px;
        border-radius: 5px 5px 0 0;
    }

    .article-content {
        padding: 10px;

        h4 {}

        p {
            .price {}
        }

        .categorie {}

    }
}